In [1]:
# all imports here

import pandas as pd
import numpy as np

### Q1. Pandas version
What's the version of Pandas that you installed?

In [2]:
pd.__version__

'2.3.2'

### Getting the Data

In [3]:
dataframe = pd.read_csv("../data/car_fuel_efficiency.csv")

In [4]:
dataframe.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

### Q2. Records count
How many records are in the dataset?

In [5]:
print(f"Records count: {len(dataframe)}")

Records count: 9704

### Q3. Fuel types
How many fuel types are presented in the dataset?

In [6]:
dataframe["fuel_type"].nunique()

2

### Q4. Missing values
How many columns in the dataset have missing values?

In [7]:
dataframe.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

### Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

In [8]:
dataframe.groupby("origin")["fuel_efficiency_mpg"].max()

origin
Asia      23.759123
Europe    25.967222
USA       24.971452
Name: fuel_efficiency_mpg, dtype: float64

In [9]:
dataframe[dataframe["origin"] == "Asia"]["fuel_efficiency_mpg"].max()

23.759122836520497

### Q6. Median value of horsepower
1. Find the median value of horsepower column in the dataset.

In [10]:
dataframe["horsepower"].median()

149.0

2. Next, calculate the most frequent value of the same horsepower column.

In [11]:
dataframe["horsepower"].mode()

0    152.0
Name: horsepower, dtype: float64

3. Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.

In [12]:
dataframe["horsepower"] = dataframe["horsepower"].fillna(dataframe["horsepower"].mode())

4. Now, calculate the median value of horsepower once again.

In [13]:
dataframe["horsepower"].median()

149.0

Has it changed?

- Yes, it increased

- Yes, it decreased

- No


#### No

### Q7. Sum of weights

1. Select all the cars from Asia

In [14]:
asian_cars = dataframe[dataframe["origin"] == "Asia"]

In [15]:
asian_cars.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730

2. Select only columns vehicle_weight and model_year

In [16]:
asian_cars[["vehicle_weight", "model_year"]]

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

3. Select the first 7 values

In [17]:
asian_cars[["vehicle_weight", "model_year"]].head(7)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

4. Get the underlying NumPy array. Let's call it X.

In [18]:
X = asian_cars[["vehicle_weight", "model_year"]].head(7).to_numpy()
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

In [19]:
XT = X.T
XTX = XT @ X

In [20]:
XTX

array([[62248334.33150762, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

6. Invert XTX.

In [21]:
XTX_inv = np.linalg.inv(XTX)

In [22]:
XTX_inv

array([[ 5.71497081e-07, -8.34509443e-07],
       [-8.34509443e-07,  1.25380877e-06]])

7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].

In [23]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [24]:
y

array([1100, 1300,  800,  900, 1000, 1100, 1200])

8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

In [25]:
w = (XTX_inv @ XT) @ y

In [26]:
w

array([0.01386421, 0.5049067 ])

9. What's the sum of all the elements of the result?

In [27]:
sum_w = np.sum(w)

In [28]:
sum_w

np.float64(0.5187709081074007)